//txt fonts
$font-main: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;
//txt color
$primary-text-color: #212121;
$first-text-color: #757575;
$second-text-color: #ffffff;
$accent-text-color: #2196f3;
$black:#000000;
$greyColor: #F5F4FA;
$main-bgr-color: #c4c4c4;
$second-background-color: #2f303a;
$accent-btn-background-color: #2196f3;
$icon-hover-backgr-color: #2196f3;
$accent-hover-color: #188ce8;
$icon-color: #afb1b8;
$icon-hover-color: #ffffff;
$border-color:#EEEEEE;
$header-line-color: #ECECEC;
$color-transparency-06: rgba(255, 255, 255, 0.6);


//txt weidth

$weidth-regular: 400;
$weidth-medium: 500;
$weidth-bold: 700;
$weidth-black: 900;

//txt size

$size-tiny: 12px;
$size-small: 14px;
$size-medium: 16px;
$size-big: 18px;
$size-large: 20px;
$size-logo: 26px;
$size-title-1: 36px;
$size-title: 44px;

//letter spasing
$spacing-tiny: 0.01em;
$spacing-small: 0.02em;
$spacing-medium: 0.03em;
$spacing-big: 0.06em;

$margin-block: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$trans-duration: 250ms;
